body {
    font-family: "Segoe UI", sans-serif;
    background: pink;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem;
}

.app {
    max-width: 700px;
    margin: auto;
    text-align: center;
    position: relative;
}

.habit-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 2rem;
}

.habit-form input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 300px;
}

.habit-form button {
    padding: 0.5rem 1rem;
    background-color: #0077b6;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.habit-card {
    background: paleturquoise;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.tracker {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 8px;
}

.day {
    width: 30px;
    height: 30px;
    background: plum;
    color: purple;
    font-weight: bold;
    line-height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.day.done {
    background: #0077b6;
}